*{
  margin:0;
  padding:0;
}

html, body{
  height:100%;
  font-size:16px;
  overflow:hidden;
}

h1{
  font-size:3rem;
}


h2{
  font-size:2rem;
}

.btn {
  color:white;
  position:relative;
  height:2rem;
  width:4rem;
  text-decoration: none;
  padding:1rem;
  border-radius: 0.5rem;
  border:2px solid white;
  cursor: pointer;
  overflow:hidden;
}

.linkCover{
  position:absolute;
  top:0;
  left:0;
  transform:translateX(-100%);
  background:white;
  transition: transform 0.3s;
  width:100%;
  height:100%;
}

.btn-name{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%)
}

div.btn:hover span.linkCover{
  transform:translateX(0);
}

div.btn:hover .btn-name{
  color:black;
}

#landing{
  background-color:deepskyblue;
}


#intro-text{
  position:absolute;
  top:10vh;
  left:50vw;
  transform: translate(-50%,-50%);
  color:deepskyblue;
}

.cloud{
  position: absolute;
  width: 1px; 
  height: 1px;
  border-radius: 50%;
  animation-name: moveCloud;
  animation-iteration-count:infinite;
  transform:translateX(-120vw) ;
  filter:url('#filter') blur(5px);
}

#top-cloud{
  top:20%;
  animation-duration: 10s;
}

#mist1{
  top:25%;
  opacity:0.7;
  animation-duration: 13s;
}

#mist2{
  bottom:10%;
  opacity:0.5;
  animation-duration: 9s;
}

#mist3{
  top:10%;
  opacity:0.3;
  animation-duration: 5s;
}

@keyframes moveCloud{
  from{
    transform:translateX(-120vw);
  }
  to{
    transform:translateX(120vw);
  }
}

#wrapper{
  width: 100%;
  height: 200vh;
  overflow-y:auto;
  overflow-x:hidden;
  perspective: 2px;
}

.parallax{
  position:relative;
  height:150vh;
  display:grid;
  grid-template-columns: 100%;
  grid-template-rows:200vh 150vh 250vh;
}

.parallax::after{
  content:" ";
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  transform: translateZ(-6px) scale(5);
  background-size: cover;
  background-position: center;
  z-index:-1;
}

#lake::after{
  background-image: url(./img/lake.png) 
}

#forest{
  height:100%;
  background: url(./img/forestWBlack.png) no-repeat center;
  background-size: cover;
  position: relative;
}

#under-forest{
  height:100%;
  display:grid;
  grid-template-columns: 100%;
  grid-template-rows: 50vh 100vh;
  background: white;
}

#nav{
  color:white;
  background:black;
  padding:4rem;
}

#links{
  display:flex;
  padding-top: 2rem;
  justify-content: space-between;
  align-items: center;
  max-width:500px;
}

#slideContent{
  display:grid;
  grid-template-columns: 100% 100% 100%;
  transition:transform 0.4s;
}

#slideContent.left{
  transform:translateX(0%);
}

#slideContent.middle{
  transform:translateX(-100%);
}

#slideContent.right{
  transform:translateX(-200%);
}
