#projects{
  display:grid;
  grid-template-rows: 10vh 50vh 50vh;
}

.caption{
  color:white;
  background:black;
  padding:1rem;
  margin:2rem;
  align-self:center;
}

.triangle{
  position:relative;
  width:100%;
  opacity:0.8;
  background-size:cover;
  background-repeat:no-repeat;
}
.top-triangle{
  grid-row:2/3;
  grid-column:1/2;
}

.bottom-triangle{
  grid-row: 3/4;
  grid-column:1/2;
}

#wireframes{
  background:url('./img/design.jpg');
  /*background-attachment:fixed;*/
  clip-path: polygon(0% 0%,100% 0%,0% 100%);
}

#typefaces{
  background:url('./img/writing.jpg');
  /*background-attachment:fixed;*/
  clip-path: polygon(100% 0%,100% 100%,0% 100%);
}

#layouts{
  background:url('./img/coding.png');
  /*background-attachment:fixed;*/
  clip-path: polygon(100% 0%,100% 100%,0% 0%);
}

#effects{
  background:url('./img/data.jpg');
  /*background-attachment:fixed;*/
  clip-path: polygon(100% 100%,0% 100%,0% 0%);
}

.expand{
  grid-row:2/4;
  z-index:2;
  opacity:1;
}

#wireframes.expand{
  clip-path: none;
}

#typefaces.expand{
  clip-path: none;
}

#layouts.expand{
  clip-path: none;
}

#effects.expand{
  clip-path: none;
}

.expand-content{
  display:none;
  background-color:white;
  width:75vw;
  margin-left:2rem;
  border-radius: 2px;
  border:2px solid black;
}

.expand .expand-content{
  display:block;
}

.expand span{
  display:none;
}
.circle{
  position:absolute;
  z-index: 2;
  border-radius: 50%;
  background:white;
  width:100px;
  height:100px;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  will-change: transform;
}


#wireframesFollower{
  transform:translate(25vw,10vh);
}

#typefacesFollower{
  transform:translate(50vw,30vh);
}

#layoutsFollower{
  transform:translate(50vw,10vh);
}

#effectsFollower{
  transform:translate(25vw,30vh);
}