.caption{
  color:white;
  background:black;
  padding:1rem;
  margin:2rem;
  align-self:center;
}

.triangle{
  position:relative;
  width:100%;
  opacity:0.8;
  background-size:cover;
  background-repeat:no-repeat;
}
.top-triangle{
  grid-row:2/3;
  grid-column:1/2;
}

.bottom-triangle{
  grid-row: 3/4;
  grid-column:1/2;
}

#design{
  background:url('./img/design.jpg');
  background-attachment:fixed;
  clip-path: polygon(0% 0%,100% 0%,0% 100%);
}

#blog{
  background:url('./img/writing.jpg');
  background-attachment:fixed;
  clip-path: polygon(100% 0%,100% 100%,0% 100%);
}

#js{
  background:url('./img/coding.png');
  background-attachment:fixed;
  clip-path: polygon(100% 0%,100% 100%,0% 0%);
}

#data{
  background:url('./img/data.jpg');
  background-attachment:fixed;
  clip-path: polygon(100% 100%,0% 100%,0% 0%);
}

.expand{
  grid-row:2/4;
  z-index:2;
  opacity:1;
}

#design.expand{
  clip-path: none;
}

#blog.expand{
  clip-path: none;
}

#js.expand{
  clip-path: none;
}

#data.expand{
  clip-path: none;
}

.expand-content{
  display:none;
  background-color:white;
  width:75vw;
  margin-left:2rem;
  border-radius: 2px;
  border:2px solid black;
}

.expand .expand-content{
  display:block;
}

.expand span{
  display:none;
}
.circle{
  position:absolute;
  z-index: 2;
  border-radius: 50%;
  background:white;
  width:60px;
  height:60px;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


#designFollower{
  top:25%;
  left:25%;
}

#blogFollower{
  top:50%;
  right:25%;
}

#jsFollower{
  top:25%;
  right:25%;
}

#dataFollower{
  top:50%;
  left:25%;
}